res-1.tar.gz filter=lfs diff=lfs merge=lfs -text
res-2.tar.gz filter=lfs diff=lfs merge=lfs -text
res-3.tar.gz filter=lfs diff=lfs merge=lfs -text
corrupted.tar.gz filter=lfs diff=lfs merge=lfs -text
empty.tar.gz filter=lfs diff=lfs merge=lfs -text
hello_2.10-3build1_amd64.deb filter=lfs diff=lfs merge=lfs -text
hello_42.snap filter=lfs diff=lfs merge=lfs -text
questing-mini-iso-amd64.iso filter=lfs diff=lfs merge=lfs -text
testimg.img filter=lfs diff=lfs merge=lfs -text
